
/* -------------Add Movie Hall------- */
.A11-AddMovieHall{
    position: relative;
    top: 100px;
}

.A01-title {
    position: relative;
    /* background: grey; */
    width: 90%;
    margin: 0 5%;
    border-bottom: 2px solid rgba(227,239,245, 0.6);
}

.A01-title h1 {
    color: #e3eff5;
    text-transform: uppercase;
    font-size: 60px;
    padding: 20px 0 0 50px;
}

.A11-Container {
    position: relative;
    left: 22vw;
    top: 4.5vh;
    width: 73vw;
    padding: 0 0 50px;
    /* height: 800px; */
    /* background: #e3eff5; */
}

.flexbox {
    display: flex;
}

.A11-MovieHallName , .A11-Capacity , 
.A11-LayoutSelection , .A11-LayoutPreview {
    margin: 0 0 35px;
    position: relative;
    width: 1400px;
}

.A11-MovieHallName h3, .A11-Capacity h3, 
.A11-LayoutSelection h3 , .A11-LayoutPreview h3 {
    font-size: 35px;
    font-weight: 500;
    color: #e3eff5;
    margin: 0 0 10px;
}

.A11-txtMovieHallName {
    width: 1400px;
    height: 75px;
    background: none;
    border: 2px solid rgba(10,107,119, 0.65);
    font-size: 25px;
    color: #e3eff5;
    padding: 0 10px;
}

.A11-CapacityNum {
    width: 300px;
    height: 75px;
    background: #191e29;
    border: 2px solid rgba(10,107,119, 0.65);
    font-size: 25px;
    color: #e3eff5;
    padding: 10px;
    padding: 0 15px;
}

#A11-Layout {
    width: 400px;
    height: 75px;
    background: #191e29;
    border: 2px solid rgba(10,107,119, 0.65);
    font-size: 25px;
    color: #e3eff5;
    padding: 10px;
    padding: 0 15px;
}

.A11-Preview {
    width: 785px;
    height: 400px;
    background: #191e29;
    border: 2px solid rgba(10,107,119, 0.65);
    font-size: 25px;
    color: #e3eff5;
    padding: 10px;
    padding: 0 15px;
}

.A11-Buttons {
    width: 1400px;
    border-top: 2px solid rgba(227,239,245, 0.6);
    margin: 75px 0 0;
    text-align: center;
}

.A11-Cancel , .A11-Confirm {
    width: 350px;
    height: 75px;
    margin: 45px 15px 0;
    border-radius: 5px;
    background: #191e29;
    border: 2px solid rgba(10,107,119, 0.65);

    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e3eff5;
}

.A11-Cancel:hover , .A11-Confirm:hover {
    background: rgba(10,107,119, 0.65);
}